.highlight{
  background-repeat: no-repeat;
  background-position: left;
  background-size:25px;
  color:#F4511E;
}

.label, td{
  &:first-child{
    text-align: left;
  }
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.label{
  border-width: 2px;
  border-radius: 0;
  position: relative;
  img{
    display: inline;
    height: 18px;
    margin:0px 5px;
    position: absolute;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

    /* Safari 1.x */
    -khtml-opacity: 0;

    /* Good browsers */
    opacity: 0;
  }

  .showImage{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;
  }
}

.salesPlans{
  min-height: 153.984px;

  h4{
    margin:0;
    text-align: center;
  }

  h3{
    margin:15px 0 0 0;
    text-align: center;
    font-weight: bold;
  }
}

#equipment{
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .equipmentCol{
    width: 130px;
    display: inline-block;
    vertical-align: top;

    .equipmentHeader{
      background-color:#28343a;
      color:#FFF;
      h2{
        text-align: center;
        font-size:15px;
      }
    }
    .equipmentcell{
      position: relative;
      width:100%;
      img{
        width: 100%;
      }
    }
    .selected{
      &::after{
        background-image: url("../img/War-Cross-Mark-PNG-Picture.png");
        background-size: 100% 100%;
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content:"";
      }
    }
  }
}

// table.dataTable,
// table.dataTable th,
// table.dataTable td {
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
// }
