@import 'components/login';
@import 'components/account';
@import 'components/team';
@import 'components/addMember';
@import 'components/properties';
@import 'components/registration-successful';
@import 'components/map';


html, body, #mapPage ,#map-container {
    height: 100%;
}

.wrapper{
  background-image: url("../img/cartographer.jpg");
  background-repeat: repeat;
  background-size: 450px;

  .topnavbar-wrapper{
    .topnavbar{
      background-color:#6D815B;
      background-image: none;
      .navbar-nav{
        a{
          color:#FFF;
        }
      }
    }
  }

  #company-icon-lower{
    height: 100px;
    width: 100px;
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 1100;
    background-color: #FFF;

    img{
      width: 100%;
    }
  }
}

.aside-inner{
  padding-top: 30px;
  height: auto !important ;
  .sidebar{
    height: auto !important;
  }
}

a{
  color:#6D815B;
}

button{
  background-color:#6D815B !important ;
}

section{
  background-image: url("../img/cartographer.jpg");
  background-repeat: repeat;
  background-size: 450px;
}

.panel{
  margin-top: 120px;
}

.form-control:focus{
  border-color: #6D815B !important;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    z-index:99999;
    max-height:100px;
    overflow: scroll;
}
