#company-icon {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 18px;
  top: 18px;
  z-index: 1; }
  #company-icon img {
    width: 100%; }

#login {
  position: relative; }

.login_modal {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .login_modal .panel-body {
    padding: 60px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6); }

#user {
  margin-top: 20px;
  text-align: center; }
  #user #avatar {
    width: 70px;
    height: 70px;
    background-color: #5d9cec;
    margin: 0 auto; }
    #user #avatar img {
      width: 100%; }

.profile-picture-change {
  overflow: hidden; }
  .profile-picture-change .profile-picture {
    width: 60px;
    height: 60px;
    background-color: #5d9cec;
    float: right;
    border-radius: 50%; }
    .profile-picture-change .profile-picture img {
      width: 100%;
      border-radius: 50%; }
  .profile-picture-change a {
    line-height: 60px; }

#profile .form-group .custom-label {
  padding-top: 7px;
  text-align: right; }

#profile fieldset {
  margin-bottom: 0; }
  #profile fieldset #null-float {
    margin-left: 15px; }
  #profile fieldset #submit {
    background-color: #5d9cec;
    color: #FFF; }

#teams #addLink {
  padding: 0; }

#teams fieldset .form-group label {
  text-align: right; }

#teams fieldset .form-group .edit {
  background-color: #5d9cec;
  color: #FFF; }

#addMember fieldset {
  padding: 0; }
  #addMember fieldset .min-param {
    min-width: 100%;
    min-height: 100%; }
  #addMember fieldset .divider {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #addMember fieldset #submit {
    background-color: #5d9cec;
    color: #FFF;
    margin-left: 15px; }

#properties .property {
  margin-bottom: 15px; }
  #properties .property label {
    font-size: 16px;
    text-align: right; }
  #properties .property .param {
    height: 100%; }
    #properties .property .param a {
      text-align: center;
      font-size: 20px; }

.state-body {
  padding: 60px;
  background-color: #FFF; }
  .state-body p {
    font-size: 20px; }

#mapPage #aside {
  height: 100%;
  overflow-y: scroll; }

#property button {
  color: #FFF; }

#property #addPlot {
  float: right; }

#property hr {
  border-width: 2px;
  border-color: #6D815B;
  margin: 5px 0; }

#property .plotForm .btn {
  margin-top: 5px;
  width: 100%; }

#property .btn {
  margin-top: 10px;
  width: 80px; }

#drawContaner {
  border: none; }
  #drawContaner .leaflet-draw-section {
    width: 140px; }
    #drawContaner .leaflet-draw-section .leaflet-draw-draw-polygon {
      font-size: 17px;
      padding: 0px 10px;
      text-align: center;
      text-decoration: none;
      color: #6D815B;
      background-image: none;
      width: auto; }
    #drawContaner .leaflet-draw-section .leaflet-draw-actions-top {
      white-space: normal;
      width: 155px; }
      #drawContaner .leaflet-draw-section .leaflet-draw-actions-top li:first-child {
        display: none; }
      #drawContaner .leaflet-draw-section .leaflet-draw-actions-top li {
        float: left;
        width: 140px;
        margin-left: -25px; }
        #drawContaner .leaflet-draw-section .leaflet-draw-actions-top li a {
          font-size: 15px;
          text-align: center;
          display: block; }

#plots .form-control {
  border-radius: 0 !important;
  display: inline-block; }

#plots .cropContainer {
  position: relative; }
  #plots .cropContainer .crops {
    background: none; }
  #plots .cropContainer i {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 35px;
    width: 20%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    z-index: -1; }

#map-container {
  margin: 0px !important;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 115; }
  #map-container #mapScript {
    width: 100%;
    height: 100%; }
  #map-container #menu {
    position: absolute;
    right: 15px;
    top: 64px;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif; }
  #map-container .leaflet-left {
    left: 220px; }
  #map-container .leaflet-top {
    top: 53px; }

.err {
  border-color: red; }

.inline {
  display: inline; }
  .inline:nth-child(2) {
    margin: 0px 8px !important; }

html, body, #mapPage, #map-container {
  height: 100%; }

.wrapper {
  background-image: url("../img/cartographer.jpg");
  background-repeat: repeat;
  background-size: 450px; }
  .wrapper .navbar-header {
    background-color: #FFF; }
    .wrapper .navbar-header .img-responsive {
      max-width: 60%; }
  .wrapper .topnavbar-wrapper .topnavbar {
    background-color: #6D815B;
    background-image: none; }
    .wrapper .topnavbar-wrapper .topnavbar .navbar-nav a {
      color: #FFF; }
  .wrapper #company-icon-lower {
    height: 100px;
    width: 100px;
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 1100;
    background-color: #FFF; }
    .wrapper #company-icon-lower img {
      width: 100%; }

.aside-inner {
  padding-top: 30px;
  height: auto !important; }
  .aside-inner .sidebar {
    height: auto !important; }

a {
  color: #6D815B; }

button {
  background-color: #6D815B !important; }

section {
  background-image: url("../img/cartographer.jpg");
  background-repeat: repeat;
  background-size: 450px; }

.form-control:focus {
  border-color: #6D815B !important; }

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
  z-index: 99999;
  max-height: 100px;
  overflow-y: scroll; }
