#addMember{

  fieldset{
    padding: 0;

    .min-param{
      min-width:100%;
      min-height:100%;
    }

    .divider{
      // text-align: center;
      // vertical-align: middle;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .form-group{

    }

    #submit{
      background-color:#5d9cec;
      color:#FFF;
      margin-left:15px;
    }

  }

}
