#property{
  button{
    color:#FFF;
  }

  #addPlot{
    float: right;
  }

  hr{
    border-width:2px;
    border-color:#6D815B;
    margin: 5px 0;
  }

  .btn{
    margin-top:10px;
    width: 80px;
  }
}

#drawContaner{
  border:none;
  .leaflet-draw-section{
    width:140px;

    .leaflet-draw-draw-polygon{
      font-size:17px;
      padding:0px 10px;
      text-align: center;
      text-decoration: none;
      color: #6D815B;
      background-image: none;
      width: auto;
    }

    .leaflet-draw-actions-top{
      white-space:normal;
      width: 155px;
      li:first-child{
        display:none;
      }
      li{
        float: left;
        width: 140px;
        margin-left: -25px;
        a{
          font-size: 15px;
          text-align: center;
          display: block;
        }
      }
    }
  }
}

#plots{
  max-height: 200px;
  overflow-y: scroll;
  .form-control{
    border-radius:0 !important;
    display: inline-block;
  }
  .cropContainer{
    position: relative;
    .crops{
      background:none;
    }
    i{
      position: absolute;
      top:0px;
      right:0px;
      height: 35px;
      width:20%;
      text-align: center;
      line-height: 35px;
      font-size:20px;
      z-index:-1;
    }
  }
}

#map-container{

  margin-bottom: 0px !important;

  #mapScript{
      width:100%;
      height: 100%;
    }

  #menu{
      position: absolute;
      right: 15px;
      top: 20px;
      background: #fff;
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
    }
}
