#properties{

  .property{
    margin-bottom: 15px;
    
    label{
      font-size:16px;
      text-align: right;
    }

    .param{
      height: 100%;
      a{
        text-align: center;
        font-size:20px;
      }

      .view{

      }

      .users{

      }

    }

  }

}
