#teams{

  #addLink{
    padding:0;
  }

  fieldset{

    .form-group{

      label{
        text-align: right;
      }

      .edit{
        background-color:#5d9cec;
        color:#FFF;
      }

    }

  }

}
