.wineflight{
  font-family: 'Raleway', sans-serif;

    .jumbotron{
      padding-top: 130px !important;
      background-color:#fff;
      // background-image: url('../img/TV-Colchagua.png');
      background-repeat: no-repeat;
      background-color:#000;
      max-height:800px;
      overflow: hidden;

      .container{
        color:#FFF;

        .image-container{
          width: 100%;
          img{
            width: 30%;
            display: block;
            margin: 0px auto;
            margin-bottom: 40px;
          }
        }

        h1{
          font-size: 50px;
          text-align: center;

          @media only screen and (max-device-width: 1024px) {
            font-size: 70px !important;
          }
        }

        p{
          font-size: 25px;
          text-align: center;
        }

        .button{
          margin-top: 48px;
          .btn{
            background-color:#A3CB00;
            border: none;
            border-radius:0;
            padding: 10px 35px;
            font-size: 45px;
          }

          span{
            display: block;
            font-size:11px;
          }
        }

        .banner{
          width:100%;
        }
      }

      .back-opacity{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
      }
    }



    .container-fluid{
        margin-top:20px;
        margin-bottom:20px;

        .section-header{
          font-size: 35px ;
          margin-bottom:20px;
        }
        .section-sub-header{
          font-size: 30px;
        }
    }

    #actionalble_data{
      .section-header{
        text-align: center;
        padding:0 20px;

        @media only screen and (max-device-width: 768px) {
          font-size: 45px;
        }
      }

      div{
        margin-top:30px;
        position: relative;

        h2{
          text-align: center;
          font-weight: bold;

          @media only screen and (max-device-width: 768px) {
            font-size: 45px;
          }
        }

        p{
          text-align: center;
          @media only screen and (max-device-width: 768px) {
            font-size: 30px;
          }
        }

        img{
          width:100%;
          padding: 0 100px;

          @media only screen and (min-device-width: 1024px) {
            padding:0px 70px;
          }

          @media only screen and (max-device-width: 768px) {
            padding:0px 350px;
          }
        }


      }
    }

    #work{
      background-image: url("../img/how-it-works.png");
      background-size: 100% 100%;
      color:#FFF;
      padding: 70px;

      .section-header{
        text-align: center;
        padding:0 20px;

        @media only screen and (max-device-width: 1024px) {
          font-size:45px;
        }
      }

      div{
        margin-top:30px;
        position: relative;

        h2{
          font-size:30px;
          text-align: center;

          @media only screen and (max-device-width: 768px) {
            font-size: 45px;
          }
        }

        p{
          font-size:20px;
          text-align: center;

          @media only screen and (max-device-width: 768px) {
            font-size: 30px;
          }
        }

        img{
          width:100%;
          padding: 0 100px;

          @media only screen and (min-device-width: 1024px) {
            padding:0px 70px;
          }

          @media only screen and (max-device-width: 768px) {
            padding:0px 300px;
          }
        }
      }
    }

    #best-wine{
      padding: 0 70px;

      .section-header{
        text-align: center;
        padding:0 20px;

        @media only screen and (max-device-width: 768px) {
          font-size: 45px;
        }
      }

      .ipad{
        margin-top:30px;
        margin-bottom: 30px;
        position: relative;

        h2{
          font-size:40px;
          text-align: center;
        }

        p{
          font-size:30px;
          text-align: center;
        }

        img{
          width:100%;
          padding: 0 40px;
        }
      }

      .left{
        margin-top:30px;
        margin-bottom: 30px;

        ul{
          text-align: left;
          // list-style-position: inside;
          // direction: rtl;
          list-style: none;
          overflow: hidden;
          padding: 0;
          li{
            font-size: 30px;
            // float: right;
            padding-left:75px;
            position: relative;
            margin-bottom:10px;
            min-height: 75px;

            @media only screen and (min-device-width: 1024px) {
              font-size: 20px;
            }
            .img{
              -webkit-transition: all .3s;/* Safari */
              -moz-transition: all .3s;/*Firefox*/
              -ms-transition: all .3s;/*IE10+*/
              -o-transition: all .3s;/*Opera*/
              transition: all .3s;
              position: absolute;
              top:0;
              left: 0;
              width: 70px;
              height: 70px;
              background: #FFF;
              border: solid 3px #A3CB00;
              border-radius: 50%;

              svg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width:100%;
                fill:#A3CB00;
              }
            }
          }
        }
        .current{
          .img{
            background: #A3CB00;
            border: solid 3px #FFF;

            svg{
              fill:#FFF;
            }
          }
        }
      }
    }

    #best-practice{
      padding: 0 70px;

      .section-header{
        text-align: center;
        padding:0 20px;
      }

      .ipad{
        margin-top:30px;
        margin-bottom: 30px;
        position: relative;

        h2{
          font-size:40px;
          text-align: center;
        }

        p{
          font-size:30px;
          text-align: center;
        }

        img{
          width:100%;
          padding: 0 40px;
        }
      }

      .left{
        margin-top:30px;
        margin-bottom: 30px;

        ul{
          text-align: left;
          // list-style-position: inside;
          // direction: rtl;
          list-style: none;
          overflow: hidden;
          padding: 0;
          li{
            font-size: 30px;
            // float: right;
            padding-left:75px;
            position: relative;
            margin-bottom:10px;
            min-height: 75px;

            @media only screen and (min-device-width: 1024px) {
              font-size: 20px;
            }
            .img{
              -webkit-transition: all .3s;/* Safari */
              -moz-transition: all .3s;/*Firefox*/
              -ms-transition: all .3s;/*IE10+*/
              -o-transition: all .3s;/*Opera*/
              transition: all .3s;
              position: absolute;
              top:0;
              left: 0;
              width: 70px;
              height: 70px;
              background: #FFF;
              border: solid 3px #A3CB00;
              border-radius: 50%;

              svg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width:100%;
                fill:#A3CB00;
              }
            }
          }
        }
        .current{
          .img{
            background: #A3CB00;
            border: solid 3px #FFF;

            svg{
              fill:#FFF;
            }
          }
        }
      }
    }

    .footer{
      margin-top:100px;
      position: relative;

      h4{
        font-size:12px;
        color:#ADADAD;
        text-align: center;
      }
      ul{
        margin-bottom: 20px;
        font-size:10px;
        .first{
          font-weight:bold;
        }
        li{
          margin-bottom:10px;
          list-style: none;
        }
      }

      .social{
        position: absolute;
        top: 70px;
        left:50%;
        transform: translateX(-50%);
        margin: 0 auto;
      }
    }

  #advanteges{
    background-image: url("../img/BG WineFlight_Advantages for.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color:#FFF;
    padding: 70px;

    @media only screen and (max-device-width: 768px) {
      background-size: 280%;
    }

    .section-header{
      text-align: center;
      padding:0 20px;

      @media only screen and (max-device-width: 1024px) {
        font-size:45px;
      }
    }

    div{
      margin-top:30px;
      position: relative;

      h2{
        font-size:30px;
        text-align: center;

        @media only screen and (max-device-width: 768px) {
          font-size: 45px;
        }
      }

      p{
        font-size:20px;
        text-align: center;

        @media only screen and (max-device-width: 768px) {
          font-size: 30px;
        }
      }

      img{
        width:100%;
        padding: 0 100px;

        @media only screen and (min-device-width: 1024px) {
          padding:0px 70px;
        }

        @media only screen and (max-device-width: 768px) {
          padding:0px 300px;
        }
      }
    }
  }

  #start-servises{
    padding: 30px 70px;

    .section-header{
      text-align: center;
      padding:0 20px;

      @media only screen and (max-device-width: 1024px) {
        font-size:45px;
      }
    }

    div{
      margin-top:30px;
      position: relative;

      h2{
        font-size:30px;
        text-align: center;

        @media only screen and (max-device-width: 768px) {
          font-size: 45px;
        }

        @media only screen and (min-device-width: 1024px) {
          font-size:20px;
        }
      }

      .button{
        width: 100%;
        background-color:#A3CB00;

        .btn{
          width: 100%;
          font-size: 35px;
          background-color:#A3CB00;
          border: none;
          border-radius:0;
          padding: 10px 35px;

          @media only screen and (min-device-width: 1024px) {
            font-size:20px;
          }
        }
      }
    }
  }
}
